.Card {
    background-color: white;
    width: 400px;
    height: 200px;
    margin: 2%;
    border-radius: 8px;
    padding: 1%;
    cursor: pointer;
}

.CardImg {
    max-width: 100%;
    max-height: 80%;
}

.CardTitle {
    font-size: 30px;
}