*{
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(246, 193, 107);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: large;
}

.buttonHeader {
    display: flex;
}

.profile{
    display: flex;
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #BFA730, #D9A648);
    border: none;
    color: white;
    height: 25px;
    border-radius: 8px;
    width: 100px;
    margin: 5%;
    cursor: pointer;
}

.email {
    margin-right: 4px;
}
